/* General Reset */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.top-bar {
    width: 100%;
    background-color: #2c3e50;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.top-bar img {
    height: 21px;
    margin-right: 10px;
}

.top-bar h1 {
    color: #ffffff;
    font-size: 1.0em;
    font-weight: lighter;
    margin: 0;
    
}


/* Login Container */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-top: 20px;
}

/* Dolphin CRM Title */
.login-container h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #2c3e50;
}

/* Form Fields */
form label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-size: 0.9em;
    color: #34495e;
    font-weight: bold;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Login Button */
form button {
    width: 100%;
    padding: 12px;
    background-color: #4a69bd; /* Blue button color */
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #3b5998; /* Darker blue on hover */
}

/* Error Message */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 15px;
    text-align: center;
}

/* Footer */
footer {
    margin-top: 15px;
    font-size: 0.85em;
    color: #95a5a6;
}

footer a {
    color: #4a69bd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
